<header>
  <nav class="navbar navbar-expand-lg m-3 mt-0 mb-0 p-3 pt-0 pb-0 text-center">
    <a class="d-none btn btn-secondary w-auto position-absolute" href="https://rpj.es/" id="go-to-rpj">
      <i class="fa-solid fa-arrow-left-long"></i>
      &nbsp;&nbsp;Volver a rpj.es
    </a>
    <a class="d-none btn btn-secondary w-auto position-absolute" id="go-back" (click)="goBack()">
      <i class="fa-solid fa-arrow-left-long"></i>
      &nbsp;&nbsp;Atrás
    </a>
    <div class="w-100 d-flex justify-content-center align-items-center">
      <img src="assets/img/rpj-logo.png" alt="Logo RPJ" id="logo">
      &nbsp;
      <h1 class="text-primary">A<span id="title">cademy</span></h1>
    </div>
  </nav>
</header>