<footer class="text-center text-lg-start text-muted pt-2 pb-2">
  <section>
    <div class="container text-center text-md-start">
      <div class="row mt-3">
        <div class="col-md-6 col-lg-8 col-xl-6 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            RedPJ Academy
          </h6>
          <p>
            🌏 Plataforma formativa de referencia en pastoral con jóvenes.
          </p>
          <p>
            📚 Recursos formativos para agentes de pastoral con jóvenes.
          </p>
          <p>
            🧑🏻‍🏫 Orientarnos hacia procesos de calidad en la realidad actual
          </p>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold">Redes sociales</h6>
          <div class="mt-4">
            <a href="https://www.facebook.com/rpjdigital/" id="facebook" class="me-4" target="_blank">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://twitter.com/redpjuvenil" id="twitter" class="me-4" target="_blank">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.instagram.com/redpastoraljuvenil/" id="instagram" class="me-4" target="_blank">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Contacto</h6>
          <p>
            <i class="fas fa-envelope me-3"></i>
            <a href="mailto:redpj@rpj.es?subject=Contact RedPJ Academy">redpj@rpj.es</a>
          </p>
        </div>
      </div>
    </div>
  </section>
</footer>