<section>
  <h2 class="mt-4 mb-4"><span class="color-principal">Catálogo</span> de <span class="course-background">cursos</span>
  </h2>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col" *ngFor="let course of courses">
      <div class="m-2 border rounded-1 p-3 shadow-sm course-card" routerLink="/course/{{course.id}}">
        <div class="d-flex justify-content-center w-100">
          <img [src]="course.image1" alt="Imagen del curso" class="img-fluid mt-2 mb-2 w-100 course-img rounded-1">
        </div>
        <h3 class="course-title">{{course.name}}</h3>
        <p>{{course.description}}</p>
      </div>
    </div>
  </div>
</section>
<section>
  <h2 class="mt-4 mb-4"><span class="color-principal">Catálogo</span> de <span
      class="workshop-background">talleres</span></h2>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col" *ngFor="let workshop of workshops">
      <div class="m-2 border rounded-1 p-3 shadow-sm workshop-card" routerLink="/course/{{workshop.id}}">
        <div class="d-flex justify-content-center">
          <img [src]="workshop.image1" alt="Imagen del taller" class="img-fluid mt-2 mb-2 w-100 course-img rounded-1">
        </div>
        <h3 class="workshop-title">{{workshop.name}}</h3>
        <p>{{workshop.description}}</p>
      </div>
    </div>
  </div>
</section>
