<main class="container mt-3 mb-3">
  <section>
    <h2 class="mt-4 mb-4"><span class="color-principal">Catálogo</span> de cursos</h2>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col" *ngFor="let course of courses">
        <div class="m-2 border rounded-1 p-3 shadow-sm curso" (click)="enterClick()">
          <div class="d-flex justify-content-center">
            <img [src]="course.imageUrl" alt="Imagen del curso" class="img-fluid mt-2 mb-2 w-100 course-img">
          </div>
          <h3>{{course.name}}</h3>
          <p><b>Description:</b> {{course.description}}</p>
          <p><b>Price:</b> {{course.price}}€</p>
          <p><b>Category:</b> {{course.category}}</p>
        </div>
      </div>
    </div>
  </section>
  <section>
    <h2 class="mt-4 mb-4"><span class="color-principal">Catálogo</span> de talleres</h2>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col" *ngFor="let course of courses">
        <div class="m-2 border rounded-1 p-3 shadow-sm curso" (click)="enterClick()">
          <div class="d-flex justify-content-center">
            <img [src]="course.imageUrl" alt="Imagen del curso" class="img-fluid mt-2 mb-2 w-100 course-img">
          </div>
          <h3>{{course.name}}</h3>
          <p><b>Description:</b> {{course.description}}</p>
          <p><b>Price:</b> {{course.price}}€</p>
          <p><b>Category:</b> {{course.category}}</p>
        </div>
      </div>
    </div>
  </section>
</main>
