@import '../../styles'

.color-principal
  color: #94C700

.course-img
  height: 200px
  width: 100%
  object-fit: contain

.course-title
  color: $complement-one

.course-background
  background-color: $complement-one
  color: white
  padding-left: 10px
  padding-right: 10px
  border-radius: 10px

.course-card
  border-color: $complement-one !important
  border-width: 0.5px !important

.course-card:hover
  border: 1px solid $complement-one !important
  box-shadow: 0 0 20px $complement-one !important
  cursor: pointer
  transition: all 0.3s ease-in-out

.workshop-title
  color: $complement-two

.workshop-background
  background-color: $complement-two
  color: white
  padding-left: 10px
  padding-right: 10px
  border-radius: 10px

.workshop-card
  border-color: $complement-two !important
  border-width: 0.5px !important

.workshop-card:hover
  border: 1px solid $complement-two !important
  box-shadow: 0 0 20px $complement-two !important
  cursor: pointer
  transition: all 0.3s ease-in-out
