.color-principal
  color: #94C700

.curso:hover
  border: 1px solid #94C700 !important
  box-shadow: 0 0 20px #94C700 !important
  cursor: pointer
  transition: all 0.3s ease-in-out

.course-img
  height: 200px
  width: 100%
  object-fit: contain
